.cart-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(50, 50, 50);
}

.cart-game-image {
  width: 150px;
  object-fit: cover;
  aspect-ratio: 1.7 / 1;
  border-radius: 0.5rem;
  background-color: rgb(30, 30, 30);
}

.cart-game-info {
  display: flex;
  flex-direction: column;
}

.cart-game-info > h3 {
  font-size: 1rem;
}

.cart-game-info > h3, p {
  margin: 0;
}

.cart-game-price {
  color: gray;
}

.remove-game-button {
  max-width: 20px;
  min-width: 20px;
  text-align: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
