@keyframes grow {
  from { scale: 0; }
  to { scale: 1; }
}

.game-preview-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: black;
  z-index: 100;
}

.game-preview {
  padding: 1rem;
  width: 75%;
  height: 60%;
  background-color: rgb(50, 50, 50);
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  animation: grow 0.2s;
}

.side-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.game-details {
  overflow: scroll;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 1rem;
  flex-grow: 1;
  border-radius: 1rem;
}

.game-details > p {
  margin: 0;
}

.game-details > h2 {
  margin: 0 0 0.5rem 0;
}

#add-to-cart-button {
  min-height: 60px;
  background-color: darkgreen;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.2s ease;
  font-size: 1.5rem;
  font-weight: bold;
}

#add-to-cart-button:hover {
  border-color: white;
}
