.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.game-haven {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: scale 0.4s ease;
  flex-shrink: 0;
}

.game-haven:hover {
  color: white;
  cursor: pointer;
  scale: 1.1;
}

#game-haven-logo {
  width: 50px;
}

.shopping-cart-button {
  background-color: transparent;
  border: none;
  min-width: 40px;
  transition: scale 0.4s ease;
  position: relative;
}

.shopping-cart-button:hover {
  scale: 1.1;
}

#shopping-cart-icon {
  width: 100%;
  filter: invert(0.65);
}

#cart-num-items {
  width: 16px;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: green;
  color: white;
  border-radius: 50%;
  z-index: 1;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  #game-haven-text {
    display: none;
  }

  .nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
  }
}
