.search-bar {
  width: 300px;
  transition: width 0.2s ease;
  position: relative;
}

.search-bar:focus-within {
  width: 400px;
}

.search-bar:focus-within .search-results {
  visibility: visible;
}

.search-area {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  border-radius: 12px;
  height: 40px;
  transition: width 0.2s ease;
}

.search-area> input {
  max-width: 80%;
  flex-grow: 1;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 0.95rem;
}

#search-button {
  background-color: transparent;
  border: none;
  filter: invert(0.65);
}

.search-results {
  position: absolute;
  visibility: hidden;
  top: 110%;
  left: 0;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  border-radius: 12px;
  z-index: 10000;
}

.search-results.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  visibility: visible;
  height: 280px;
}

#loading-icon {
  width: 40px;
}
