.search-bar-result {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(20, 20, 20);
}

.search-bar-result:hover {
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

.search-bar-game-image {
  min-width: 160px;
  max-width: 160px;
  height: 70px;
  object-fit: cover;
}

.search-bar-game-title {
  color: white;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 1rem;
}
